@font-face {
  font-family: cocogoose;
  src: url(fonts/cocogoose/Cocogoose\ Pro-trial.ttf);
}

@font-face {
  font-family: lato;
  src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: latoBold;
  src: url(fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: latoItalic;
  src: url(fonts/Lato/Lato-Italic.ttf);
}

@font-face {
  font-family: latoLight;
  src: url(fonts/Lato/Lato-Light.ttf);
}

body {
  margin: 0.0001px;
  padding: 0.0001px;
}

header {
  position: absolute;
}

.social-network {
  position: absolute;
  top: -200px;
  background-color: #272a31;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

nav {
  padding-left: 20px;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  display: none;
}

strong {
  font-family: latoBold, Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.hamburger-menu {
  padding: 3px;
  border-radius: 3px;
  font-size: 30px;
  color: #272a31;
}

.hamburger-menu:hover {
  background-color: #ec5242;
  border: 3px;
  box-shadow: 0 4px 8px 0 rgb(236 82 66 / 60%), 0 6px 20px 0 rgb(236 82 66 / 19%);
}

nav ul {
  position: fixed;
  top: 0;
  left: -110%;
  width: 100vw;
  height: 100vh;
  background-color: #272a31;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  transition: 0.5s;
  z-index: 2;
}

nav ul li {
  color: white;
  font-family: lato, Arial, Helvetica, sans-serif;
  opacity: 0.6;
  transition: 1s;
  border-bottom: 3px solid #ec5242;
}

a {
  text-decoration: none;
  color: white;
}

nav ul li a {
  font-family: latoBold, Arial, Helvetica, sans-serif;
  font-size: 30px;
}

a:hover,
nav ul li:hover {
  opacity: 1;
}

.closeButtonContainer {
  border-bottom: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
}

.visible {
  left: 0;
}

.logo a,
p {
  margin: 0;
  color: #ec5242;
  font-family: lato, Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.home-page {
  background-image: url(assets/math.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 667px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-text {
  background-color: #d3d3d39f;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

h1 {
  margin: 0;
  color: #ec5242;
  font-family: cocogoose, Arial, Helvetica, sans-serif;
  font-size: 50px;
  width: 98%;
  text-align: center;
}

h2 {
  margin: 0;
  color: #272a31;
  font-family: lato, Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.home-text h1,
.home-text h2,
.home-text p {
  text-align: left;
  width: 90%;
  max-width: 500px;
}

.home-text p {
  color: #272a31;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 5px;
}

.home-text p.light-text {
  font-family: latoLight, Arial, Helvetica, sans-serif;
  color: #ec5242;
  font-size: 40px;
  border: none;
  width: 90%;
}

.home-text h1 {
  font-size: 34px;
}

.home-text h2 {
  font-family: cocogoose, Arial, Helvetica, sans-serif;
  font-size: 28px;
}

.button {
  background-color: #ec5242;
  font-family: lato, Arial, Helvetica, sans-serif;
  padding: 20px 12px;
  border-radius: 10%;
  border: 1px solid white;
  transition: 0.7s;
  max-width: 150px;
  text-align: center;
}

.home-text .button {
  background-color: #ec534200;
  color: #272a31;
  font-size: 20px;
  border: none;
  width: 90%;
  max-width: 500px;
  padding: 0;
  text-align: left;
}

.button:hover {
  border: 3px solid #ec5242;
  background-color: #272a31;
  box-shadow: 0 4px 8px 0 rgb(236 82 66 / 60%), 0 6px 20px 0 rgb(236 82 66 / 19%);
}

.about {
  background-color: #272a31;
  background-image: url(assets/Roulette70.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.about h2 {
  max-width: 450px;
  font-family: latoBold, Arial, Helvetica, sans-serif;
  font-size: 36px;
  text-align: center;
  width: 95%;
  color: #fff;
}

hr {
  width: 40px;
  border-color: #ec5242;
}

.about div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  background-color: #d3d3d341;
  width: 90%;
  max-width: 450px;
  height: 40%;
}

.contact-container p {
  text-align: center;
  color: #d3d3d3;
}

.author div p {
  font-size: 10px;
  color: #272a31;
}

.about div p {
  color: #d3d3d3;
}

.about ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  gap: 5%;
  justify-content: center;
}

.courses-container {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.courses-container h1 {
  font-family: latoBold, Arial, Helvetica, sans-serif;
  font-size: 33px;
  color: #272a31;
}

.courses,
.math,
.physics,
.chemistry {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}

.math,
.physics,
.chemistry {
  background: -webkit-linear-gradient(#fff, #d3d3d3);
  background: -moz-linear-gradient(#fff, #d3d3d3);
  background: linear-gradient(#fff, #d3d3d3);
}

.card {
  width: 80%;
  max-width: 350px;
  height: 100px;
  border-radius: 10px;
  background-image: url(assets/IMG_1041.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #272a31;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  transition: 0.5s;
}

.card:hover {
  border: 3px solid #ec5242;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgb(236 82 66 / 60%), 0 6px 20px 0 rgb(236 82 66 / 19%);
}

.background-card {
  width: 100%;
  height: 100%;
  background-color: #d3d3d3ab;
  border-radius: 10px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background-card:hover {
  background-color: #d3d3d300;
}

.contact-container h2 {
  font-family: cocogoose, Arial, Helvetica, sans-serif;
  color: #ec5242;
  text-align: center;
  width: 90%;
}

.card .background-card h2 {
  color: #272a31;
  font-size: 25px;
  position: absolute;
  top: 5px;
  left: 10px;
}

.card > .background-card > .display-while-hover {
  display: none;
}

.card:hover > .background-card > .display-while-hover {
  display: block;
  font-size: 15px;
  font-family: latoItalic, Arial, Helvetica, sans-serif;
  width: 90%;
  color: #272a31;
  opacity: 0.9;
  background-color: #ec5342e7;
  padding: 10px;
}

.card:hover > .background-card > a.display-while-hover:hover {
  font-size: 20px;
  font-family: latoBold, Arial, Helvetica, sans-serif;
  opacity: 1;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  order: 1;
}

.contact-container {
  background-color: #272a31;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(assets/IncessantBlabber-Stylized-atom.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-suggestion {
  padding: 10px 0;
  min-height: 700px;
  height: auto;
  gap: 20px;
}

.contact-text {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.all-courses {
  background-image: url(assets/toluene.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input,
textarea {
  width: 90%;
  border: 0;
  border-bottom: 3px solid #ec5242;
  padding: 5%;
  margin-bottom: 20px;
  font-family: lato, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  resize: vertical;
  max-height: 300px;
}

input::placeholder,
textarea::placeholder {
  color: #979493;
}

#button {
  color: #fff;
  width: 100%;
}

.author {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  padding: 20px 0;
}

.author .logo {
  display: block;
}

.author .logo a {
  color: #272a31;
}

.author div p a {
  display: none;
}

@media (min-width: 768px) {
  header {
    position: static;
    background-color: #fff;
  }

  .social-network {
    position: static;
  }

  nav ul {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
  }

  .social-network ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
  }

  .social-network ul {
    width: 80%;
    justify-content: flex-end;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: #272a31;
  }

  nav ul li a {
    font-family: lato, Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  nav ul li {
    display: block;
    transition: 0.5s;
    border-bottom: none;
    opacity: 1;
  }

  a:hover,
  nav ul#menu li:hover {
    opacity: 1;
    color: #ec5242;
  }

  .social-network ul li a {
    font-family: lato, Arial, Helvetica, sans-serif;
    color: #d3d3d3;
  }

  nav {
    justify-content: space-evenly;
  }

  .hamburger-menu,
  .closeButtonContainer,
  #closeButton {
    display: none;
  }

  .logo {
    display: block;
  }

  nav ul li a.sign-up {
    padding: 10px 20px;
    color: #ec5242;
    border: 5px solid #ec5242;
    background-color: #fff;
  }

  .home-text h1 {
    font-size: 71px;
    max-width: 700px;
  }

  .home-text p {
    max-width: 690px;
  }

  .home-text h2,
  .home-text .button {
    max-width: 700px;
  }

  .about h2 {
    font-size: 46px;
    padding: 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
  }

  hr {
    width: 250px;
  }

  .about div {
    max-width: 90%;
  }

  .contact-text p {
    font-size: 30px;
  }

  .about div p {
    font-size: 35px;
  }

  .about div ul {
    gap: 10%;
  }

  .about div ul li.button {
    width: 30%;
    max-width: 250px;
    border-radius: 10px;
    color: #ec5242;
  }

  .about div ul li a {
    font-size: 20px;
    color: #fff;
  }

  .courses,
  .math,
  .physics,
  .chemistry {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .show-more {
    display: none;
  }

  .contact-container {
    flex-direction: row;
    justify-content: center;
  }

  .contact-text {
    max-width: 40%;
    gap: 50px;
  }

  .contact-text h2 {
    font-size: 45px;
  }

  .contact-form {
    max-width: 40%;
  }

  form {
    width: 70%;
  }

  input,
  textarea {
    width: 100%;
    height: 30px;
  }

  .author {
    background-color: #272a31;
  }

  .author .logo a {
    color: #d3d3d3;
  }

  .author div p {
    font-size: 12px;
    color: #d3d3d3;
  }

  .author div p a {
    display: block;
    color: #d3d3d3;
  }
}

@media (min-width: 800px) {
  nav ul {
    gap: 60px;
  }
}

@media (min-width: 1200px) {
  .home-text {
    position: relative;
  }

  .home-text p.light-text {
    position: absolute;
    top: 95px;
    left: 250px;
  }

  .home-text h1 {
    position: absolute;
    top: 173px;
    left: 250px;
  }

  .home-text p {
    position: absolute;
    top: 400px;
    left: 250px;
  }

  .home-text h2 {
    position: absolute;
    top: 480px;
    left: 250px;
  }

  .home-text .button {
    position: absolute;
    top: 540px;
    left: 250px;
  }
}
